<ul class="list-group muisc-list">
  <li
    class="list-group-item bg-black d-flex justify-content-between align-items-center"
    *ngFor="let music of allMusic; let i = index; trackBy: trackByFun"
  >
    <div>
      <div class="play-pause" (click)="onPlayListSong(i)">
        <i class="material-icons">{{
          isSongPlaying && i === activeSongIndex ? "pause" : "play_arrow"
        }}</i>
      </div>
    </div>
    <div class="col-8">
      <div class="song-details">
        <span>{{ music.songName }}</span>
        <p>{{ music.artistName }}</p>
      </div>
    </div>
    <div class="music-list-duration" #musicListDuration>3: 05</div>
    <audio
      #listAudioRef
      [src]="music.src"
      (loadeddata)="onLoadedData()"
    ></audio>
  </li>
</ul>
