<div class="wrapper container-fluid">
  <header class="row header">
    <div class="col-12 search-field input-group md-form form-sm form-2 pl-0">
      <input
        class="form-control my-0 py-1 red-border"
        type="text"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchText"
        (input)="onSearch($event)"
      />
    </div>
    <div class="col-4 img-area">
      <img [src]="currentMusic.img" alt="" class="img-thumbnail" />
    </div>
    <div class="col-5">
      <h3>{{ currentMusic.songName }}</h3>
      <p>{{ currentMusic.artistName }}</p>
    </div>
  </header>
  <section class="music-list">
    <app-music-list
      [allMusic]="allMusic"
      (activeSong)="playListActiveSong($event)"
      [activeSongIndex]="musicIndex"
      [isSongPlaying]="isSongPlaying"
      [searchText]="searchText"
    ></app-music-list>
  </section>
  <footer class="footer">
    <div
      class="progress-area"
      #progressArea
      (click)="onProgressAreaClick($event)"
    >
      <div class="progress-bar" #progressBar>
        <audio
          id="main-audio"
          [src]="currentMusic.src"
          #audioRef
          (timeupdate)="onChangeAudio($event)"
          (loadeddata)="onLoadedData()"
          (ended)="onSongEnd()"
        ></audio>
      </div>
      <div class="song-timer">
        <span class="current-time" #currentTime>0:00</span>
        <span class="max-duration" #maxDuration>0:00</span>
      </div>
    </div>
    <div class="controls">
      <i
        id="repeat-plist"
        class="material-icons"
        title="Playlist looped"
        (click)="repeatToggle()"
        >{{ isRepeatSongOn ? "repeat_on" : "repeat" }}</i
      >
      <i id="prev" class="material-icons" (click)="previousMusic()"
        >skip_previous</i
      >
      <div class="play-pause">
        <i class="material-icons" (click)="playPauseMusic()">{{
          isSongPlaying ? "pause" : "play_arrow"
        }}</i>
      </div>
      <i id="next" class="material-icons" (click)="nextMusic()">skip_next</i>
      <!-- <i id="more-music" class="material-icons">queue_music</i> -->
      <i
        class="material-icons"
        title="Playback shuffled"
        (click)="shuffleToggle()"
        >{{ isShuffleOn ? "shuffle_on" : "shuffle" }}</i
      >
    </div>
  </footer>
</div>
